body {
  font-size: 14pt;
  line-height: 1.6;
  font-family: 'Times New Roman', 'Georgia', serif;
}

h1 {
  font-size: 18pt;
  font-weight: bold;
}

h2 {
  font-size: 16pt;
  font-weight: bold;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

.page-break {
  page-break-before: always;
}

pre {
  border-radius: 4px;
  border: 2px solid #aeaeae;
  word-wrap: break-word;
  font-size: 12px;
  overflow-wrap: break-word;
  white-space: pre-wrap; /* Ensure content breaks to the next line */
  word-break: break-word;
}
